@import 'normalize.css';
@import 'bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00b14f;
  --primary-bg: #4d8b55;
  --text-color: #2f2f2f;
  --secondary-text-color: #676767;
  --white: #fff;
  --coffee-color: #b99272;
  --coffee-color-v2: #65391c;
  --red-color: #ef5350;
  --icon-color: brightness(0) saturate(100%) invert(39%) sepia(4%) saturate(0%) hue-rotate(138deg) brightness(100%)
    contrast(91%);
  --bg-default: url('/images/user-background.png');
  --home-footer-bg: url('/images/home/paper_bg.jpg');
  --product-desc-bg: url('/images/home/paper_bg.jpg');
  --auth-bg: url('/images/banner/cafe08.jpg');
  --content-bg: var(--white);
  --btn-bg: var(--white);
  --btn-outline-border: #f0efef;
  --btn-outline-color: var(--secondary-text-color);
  --header-shadow: rgba(163, 163, 163, 0.8);
  --option-hover: #d8f0df;
  --cart-separate: #ebebeb;
  --product-card-bg: #f7f7f7;
  --chats-bg: #f5f5f5;
  --chat-bg: #f0f0f0;
  --chat-user: #dcedc2;
  --chat-shop: #a8e6ce;
  --message-search: #83af98;
  --message-item-bg: var(--chat-user);
  --message-text: var(--coffee-color-v2);
  --about-footer-bg: #4d8b55;
  --restaurant-products-bg: var(--product-card-bg);
  --product-desc: #5a5a5c;
  --auth-content-bg: rgba(255, 255, 255, 0.8);
  --profile-info-bg: #f6f6f6;
  --profile-sidebar-shadow: rgba(237, 237, 246, 0.2);
}

.dark {
  --text-color: #b9babe;
  --secondary-text-color: #9e9da8;
  --content-bg: #171c28;
  --btn-bg: #292e39;
  --icon-color: brightness(0) saturate(100%) invert(91%) sepia(6%) saturate(130%) hue-rotate(191deg) brightness(82%)
    contrast(88%);
  --home-footer-bg: linear-gradient(180deg, rgba(26, 22, 46, 0.6), var(--content-bg)), url('/images/home/paper_bg.jpg');
  --product-desc-bg: linear-gradient(180deg, rgba(26, 22, 46, 0.5), var(--content-bg)), url('/images/home/paper_bg.jpg');
  --auth-bg: linear-gradient(180deg, rgba(26, 22, 46, 0.6), var(--btn-bg)), url('/images/banner/cafe08.jpg');
  --btn-outline-border: var(--btn-bg);
  --btn-outline-color: var(--white);
  --header-shadow: rgba(0, 0, 0, 0.12);
  --option-hover: var(--content-bg);
  --cart-separate: #3e4043;
  --product-card-bg: var(--btn-bg);
  --chats-bg: var(--btn-bg);
  --chat-bg: var(--content-bg);
  --chat-user: var(--message-search);
  --chat-shop: #0a7075;
  --message-item-bg: var(--content-bg);
  --message-text: var(--coffee-color);
  --about-footer-bg: var(--chat-shop);
  --restaurant-products-bg: var(--content-bg);
  --product-desc: #ebebeb;
  --auth-content-bg: var(--content-bg);
  --profile-info-bg: var(--content-bg);
  --profile-sidebar-shadow: rgba(23, 28, 40, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background: var(--primary-bg);
  color: var(--white);
}

/* Scrollbar CSS */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  background-color: rgba(22, 24, 35, 0.2);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

button,
input {
  border: none;
  outline: none;
}

input,
textarea {
  background-color: transparent;
}

button,
input,
label,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  user-select: none;
}

strong {
  font-weight: 600;
}
